<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="Shortcut Icon" href="common/img/favicon.ico">
    <link rel="Bookmark" href="common/img/favicon.ico">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="expires" content="0" />
    <link href="common/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="common/css/iconfont.css" type="text/css" />
    <link href="common/css/Nunito_Great+Vibes.css" rel="stylesheet"type="text/css"/>
    <!-- <script src="./axios.min.js"></script> -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>-->
    <title>Ath的置物间</title>
    
</head>
<body>
    <div id="app">
        <div id="bg" @click="changeIndex(0)" :class="{'transparent':isAdmin}"></div>
        <div id="bg-hidden" @click="changeIndex(0)"></div>
        <div id="contents">
            <div id="input" v-if="!isAdmin">
                <input type="password" placeholder="请输入控制台秘钥" v-model="key" maxlength="18" @keyup.enter="switchToAdminMode()" />
            </div>
            <div id="header" @click="changeIndex(0)">
                <div class="title">Ath's Luggage Bag</div>
                <!--<hr class="decorationLine" />-->
            </div>
            <!--<div id="sorts">
                <div id="my-insts" class="sort" @click="changeIndex(1)" :class="{'my-insts-chosen':index===1}">一些音乐</div>
                <div id="my-vsqx" class="sort" @click="changeIndex(2)" :class="{'my-vsqx-chosen':index===2}">工具软件</div>
                <div id="personal-stuffs" class="sort" @click="changeIndex(3)"
                     :class="{'personal-stuffs-chosen':index===3}">个人用网盘
                </div>
                <div id="others" class="sort" @click="changeIndex(4)" :class="{'others-chosen':index===4}">其他文件</div>
            </div>-->
            <div id="files">
                <!--<div class="fileListTitle" v-show="isLoading">
        <div class="loader"></div>
    </div>
    <div class="fileListTitle" v-show="invalidMsg!==''">
        <div class="fileInfoElement errInfo">{{invalidMsg}}</div>
    </div>-->
                <div class="fileListTitle" v-show="index===0">
                    <div class="fileInfoElement mainInfo" v-if="!isAdmin">
                        <div>欢迎来到Anthony Hoo的包裹寄放处～</div>
                        <div>请点击上面的标签，找到需要的文件吧。</div>
                        <br />
                        <div>使用须知：</div>
                        <ol>
                            <li>
                                此站点提供的全部文件都<b>仅供于个人下载使用，不允许以任何形式用于商业目的</b>
                                。
                            </li>
                            <li>因带宽及流量有限，请仅选择需要的文件下载，不要一次下载较多文件。</li>
                            <li>对于相关人员，请在页面右上角输入管理员代码，即可查看和下载隐藏文件。</li>
                        </ol>
                        <div>如果有令人不快的事情发生，将仅允许管理员下载文件。</div>
                        <div>如果本站提供下载的文件侵犯了您的合法权利，请邮件联系我删除。</div>
                        <br />
                        <div>
                            反馈请发送至：<a href="mailto:yamamaru.ha@gmail.com">yamamaru.ha@gmail.com</a>
                        </div>
                        <br />
                        <div>
                            个人博客：
                            <a href="https://www.initimirai.xyz/">外网访问</a>
                            <a href="http://10.64.217.185/">内网访问</a>
                        </div>
                    </div>
                </div>
                <div class="fileListTitle" v-show="index!==0">
                    <div class="fileName fileInfoElement">文件名</div>
                    <div class="dataSize fileInfoElement">文件大小</div>
                    <div class="uploadTime fileInfoElement">上传时间</div>
                    <div class="fileInfoElement">下载</div>
                    <!--<div class="fileInfoElement" v-if="isAdmin">删除</div>-->
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">360压缩.exe</div>
                        <div class="dataSize fileInfoElement">8.95MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/360压缩.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">3DM游戏运行库.zip</div>
                        <div class="dataSize fileInfoElement">651.34MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/3DM游戏运行库.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Adobe全家桶安装包.exe</div>
                        <div class="dataSize fileInfoElement">1.93MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/Adobe全家桶安装包.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">AIDA64.zip</div>
                        <div class="dataSize fileInfoElement">50.32MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/AIDA64.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">BASIC编译器.EXE</div>
                        <div class="dataSize fileInfoElement">0.61MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/BASIC编译器.EXE">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">B站投稿助手.exe</div>
                        <div class="dataSize fileInfoElement">40.85MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/B站投稿助手.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">B站直播工具.exe</div>
                        <div class="dataSize fileInfoElement">62.89MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/B站直播工具.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">CB17.12安装包.exe</div>
                        <div class="dataSize fileInfoElement">86.27MB</div>
                        <div class="uploadTime fileInfoElement">2018-12-17</div>
                        <div class="download fileInfoElement">
                            <a href="file/CB17.12安装包.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Chrome安装包.exe</div>
                        <div class="dataSize fileInfoElement">1.08MB</div>
                        <div class="uploadTime fileInfoElement">2018-12-17</div>
                        <div class="download fileInfoElement">
                            <a href="file/Chrome安装包.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Dism++.zip</div>
                        <div class="dataSize fileInfoElement">2.97MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/Dism++.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Diskinfo.zip</div>
                        <div class="dataSize fileInfoElement">4.37MB</div>
                        <div class="uploadTime fileInfoElement">2019-3-18</div>
                        <div class="download fileInfoElement">
                            <a href="file/diskinfo.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">DoS工具.exe</div>
                        <div class="dataSize fileInfoElement">0.68MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/DoS工具.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">dotNet4.6.2安装器.exe</div>
                        <div class="dataSize fileInfoElement">1.36MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/dotNet4.6.2安装器.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">EX12_数位板驱动.zip</div>
                        <div class="dataSize fileInfoElement">11.47MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/EX12_数位板驱动.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Github桌面版.exe</div>
                        <div class="dataSize fileInfoElement">77.42MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/Github桌面版.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Git安装包.exe</div>
                        <div class="dataSize fileInfoElement">39.22MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/Git安装包.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">GPU圆周率计算工具.exe</div>
                        <div class="dataSize fileInfoElement">1.77MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/GPU圆周率计算工具.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">GTA_V外挂.EXE</div>
                        <div class="dataSize fileInfoElement">4.82MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/GTA_V外挂.EXE">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">IDM下载器.zip</div>
                        <div class="dataSize fileInfoElement">6.25MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/IDM下载器.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Intel_XTU超频工具.zip</div>
                        <div class="dataSize fileInfoElement">36.56MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/Intel_XTU超频工具.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">IP扫描工具.exe</div>
                        <div class="dataSize fileInfoElement">19.27MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/IP扫描工具.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Java安装包.exe</div>
                        <div class="dataSize fileInfoElement">68.5MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/Java安装包.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">lingoes屏幕取词翻译</div>
                        <div class="dataSize fileInfoElement">16.4MB</div>
                        <div class="uploadTime fileInfoElement">2018-12-17</div>
                        <div class="download fileInfoElement">
                            <a href="file/lingoes屏幕取词翻译.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">MikuMikuDance.zip</div>
                        <div class="dataSize fileInfoElement">16.93MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/MikuMikuDance.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Nginx.zip</div>
                        <div class="dataSize fileInfoElement">1.41MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-10</div>
                        <div class="download fileInfoElement">
                            <a href="file/Nginx.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Node.js安装包.msi</div>
                        <div class="dataSize fileInfoElement">16.54MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/Node.js安装包.msi">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Notepad++.exe</div>
                        <div class="dataSize fileInfoElement">4.06MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-10</div>
                        <div class="download fileInfoElement">
                            <a href="file/Notepad++.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Octave.exe</div>
                        <div class="dataSize fileInfoElement">238.01MB</div>
                        <div class="uploadTime fileInfoElement">20119-2-26</div>
                        <div class="download fileInfoElement">
                            <a href="file/octave4.4.1.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Office365专业中文版64位.exe</div>
                        <div class="dataSize fileInfoElement">7.02MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/Office365专业中文版64位.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">office套件安装器.zip</div>
                        <div class="dataSize fileInfoElement">9.62MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/office套件安装器.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Origin安装器.exe</div>
                        <div class="dataSize fileInfoElement">60.38MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/Origin安装器.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">OpenVPN.exe</div>
                        <div class="dataSize fileInfoElement">3.28MB</div>
                        <div class="uploadTime fileInfoElement">2019-3-1</div>
                        <div class="download fileInfoElement">
                            <a href="file/openvpn2.4.6-I602.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">OBS-Studio</div>
                        <div class="dataSize fileInfoElement">66.33MB</div>
                        <div class="uploadTime fileInfoElement">2018-12-17</div>
                        <div class="download fileInfoElement">
                            <a href="file/OBS-Studio.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">putty.exe</div>
                        <div class="dataSize fileInfoElement">0.51MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/putty.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Python3.4</div>
                        <div class="dataSize fileInfoElement">0.51MB</div>
                        <div class="uploadTime fileInfoElement">2018-12-17</div>
                        <div class="download fileInfoElement">
                            <a href="file/python-3.4.4.msi">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">QQ音乐.exe</div>
                        <div class="dataSize fileInfoElement">52.11MB</div>
                        <div class="uploadTime fileInfoElement">2018-12-17</div>
                        <div class="download fileInfoElement">
                            <a href="file/QQ音乐.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">RealRealWork</div>
                        <div class="dataSize fileInfoElement">28.15MB</div>
                        <div class="uploadTime fileInfoElement">2018-12-17</div>
                        <div class="download fileInfoElement">
                            <a href="file/realrealwork.7z">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">rufus-3.4.exe</div>
                        <div class="dataSize fileInfoElement">0.99MB</div>
                        <div class="uploadTime fileInfoElement">2018-12-17</div>
                        <div class="download fileInfoElement">
                            <a href="file/rufus-3.4.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">sai绘画软件.exe</div>
                        <div class="dataSize fileInfoElement">11.44MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/sai绘画软件.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">SRS声卡工具.exe</div>
                        <div class="dataSize fileInfoElement">24.84MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/SRS声卡工具.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">SS.zip</div>
                        <div class="dataSize fileInfoElement">1.98MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/SS.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">SSR.zip</div>
                        <div class="dataSize fileInfoElement">3.36MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/SSR.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Steam安装包.exe</div>
                        <div class="dataSize fileInfoElement">1.5MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/Steam安装包.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Steam社区访问工具.exe</div>
                        <div class="dataSize fileInfoElement">0.37MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/Steam社区访问工具.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">telegram安装包.exe</div>
                        <div class="dataSize fileInfoElement">21.97MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/telegram安装包.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">TIM安装包.exe</div>
                        <div class="dataSize fileInfoElement">67.43MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/TIM安装包.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">UltraISO写入U盘工具.exe</div>
                        <div class="dataSize fileInfoElement">1.44MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/UltraISO写入U盘工具.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">VirtualBox虚拟机.exe</div>
                        <div class="dataSize fileInfoElement">108.46MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/VirtualBox虚拟机.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">VNC-Server.exe</div>
                        <div class="dataSize fileInfoElement">18.75MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/VNC-Server.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">VNC-Viewer.exe</div>
                        <div class="dataSize fileInfoElement">2.65MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/VNC-Viewer.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">VS2015.exe</div>
                        <div class="dataSize fileInfoElement">0.2MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/VS2015.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">VS2017.exe</div>
                        <div class="dataSize fileInfoElement">1.15MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/VS2017.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">VSCODE.exe</div>
                        <div class="dataSize fileInfoElement">44.9MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/VSCODE.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">waifu2x图片放大器（深度学习超采样）.zip</div>
                        <div class="dataSize fileInfoElement">116.89MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/waifu2x图片放大器（深度学习超采样）.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Windows更新管理工具.exe</div>
                        <div class="dataSize fileInfoElement">1.96MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/Windows更新管理工具.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">WinSCP.exe</div>
                        <div class="dataSize fileInfoElement">9.24MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/WinSCP.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">WinToGo制作工具.zip</div>
                        <div class="dataSize fileInfoElement">1.6MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/WinToGo制作工具.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">Wireshark.exe</div>
                        <div class="dataSize fileInfoElement">57.17MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/Wireshark.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">wordpress.zip</div>
                        <div class="dataSize fileInfoElement">8.75MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/wordpress.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">概率论合集.zip</div>
                        <div class="dataSize fileInfoElement">46.92MB</div>
                        <div class="uploadTime fileInfoElement">2019-1-6</div>
                        <div class="download fileInfoElement">
                            <a href="file/概率论.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">任务栏美化.exe</div>
                        <div class="dataSize fileInfoElement">30.37MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/任务栏美化.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">内存盘制作工具.zip</div>
                        <div class="dataSize fileInfoElement">2.94MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/内存盘制作工具.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">内网文件传输器.exe</div>
                        <div class="dataSize fileInfoElement">0.5MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/内网文件传输器.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">卡吧工具箱.zip</div>
                        <div class="dataSize fileInfoElement">245.25MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/卡吧工具箱.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">文件传输工具.rar</div>
                        <div class="dataSize fileInfoElement">0.28MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/文件传输工具.rar">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">格式工厂安装包.exe</div>
                        <div class="dataSize fileInfoElement">52.69MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/格式工厂安装包.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">沙耶の唄.zip</div>
                        <div class="dataSize fileInfoElement">319.62MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/沙耶の唄.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">火绒安装包.exe</div>
                        <div class="dataSize fileInfoElement">11.13MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/火绒安装包.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">百度网盘安装包.exe</div>
                        <div class="dataSize fileInfoElement">30.25MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/百度网盘安装包.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">硕鼠.zip</div>
                        <div class="dataSize fileInfoElement">0.01MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/硕鼠.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">磁盘信息查看.zip</div>
                        <div class="dataSize fileInfoElement">4.36MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/磁盘信息查看.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">端口扫描工具.exe</div>
                        <div class="dataSize fileInfoElement">9.12MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/端口扫描工具.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">网易云音乐安装包.exe</div>
                        <div class="dataSize fileInfoElement">31.88MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/网易云音乐安装包.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">腾讯网游加速器.exe</div>
                        <div class="dataSize fileInfoElement">14.98MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/腾讯网游加速器.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">英伟达显卡超频工具.zip</div>
                        <div class="dataSize fileInfoElement">0.27MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/英伟达显卡超频工具.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">学宝安装包.rar</div>
                        <div class="dataSize fileInfoElement">81.77MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-13</div>
                        <div class="download fileInfoElement">
                            <a href="file/学宝安装包.rar">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">迅雷安装包.exe</div>
                        <div class="dataSize fileInfoElement">4.95MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/迅雷安装包.exe">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">镜像烧写工具.zip</div>
                        <div class="dataSize fileInfoElement">16.94MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/镜像烧写工具.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">鼠标点击脚本.zip</div>
                        <div class="dataSize fileInfoElement">0.38MB</div>
                        <div class="uploadTime fileInfoElement">2018-10-8</div>
                        <div class="download fileInfoElement">
                            <a href="file/鼠标点击脚本.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="file" v-for="item in items">
                    <div class="fileInfo">
                        <div class="fileName fileInfoElement">文明6.zip</div>
                        <div class="dataSize fileInfoElement">10.3GB</div>
                        <div class="uploadTime fileInfoElement">2019-3-7</div>
                        <div class="download fileInfoElement">
                            <a href="file/civi6.zip">
                                <i class="iconfont icon-icondownload"></i>
                            </a>
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
            <div class="waveWrapper waveAnimation">
                <div class="waveWrapperInner bgTop">
                    <div class="wave waveTop" style="background-image: url('common/img/wave-top.png')"></div>
                </div>
                <div class="waveWrapperInner bgMiddle">
                    <div class="wave waveMiddle" style="background-image: url('common/img/wave-mid.png')"></div>
                </div>
                <div class="waveWrapperInner bgBottom">
                    <div class="wave waveBottom" style="background-image: url('common/img/wave-bot.png')"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
